.sectons {
  height: calc( 100vh - 484px );
  box-sizing: border-box;
  overflow-y: scroll;
  margin-top: var(--x4);
  margin-bottom: var(--x4);
}

.burger {
  margin-top: var(--x25);
  margin-bottom: var(--x10);
}

.notification {
  color:  var(--text-secondary);
  min-height: 300px;
}

.subnotification {
  color: var(--text-secondary);
}